<style>
.main {
  background-color: #a2d9e8  ;
  height: auto;
}

table,th,td {
  border: 1px solid black;
  border-collapse: collapse;
  width:500;
  height:100;
  }

  h1 {
    position : relative;
    bottom: 31px;
    left: -6px;   
  }


  table.border-top:hover {
    backgroud-color : blue;
    transition: banckgroud-color .5s;
  }

  .topBorder:hover { 
    border-top: solid;
    backgroud-color : blue;
    transition: banckgroud-color .5s;
  }
   

  .tittle {
    font-family:Bradley Hand, cursive;
    font-size: 60pt;
    color:  #e3a18e;
    margin-left:30%;
  }

  .turno {
    margin-left: 45%;
    color: #3e0b3f; 
    font-family:Bradley Hand, cursive;
    font-size: 20pt;
  }

  .jugador {
    font-family:Verdana, sans-serif;
    font-size: 15pt;
    color:  #344c60;
    margin-left:10%
  }
  .jugadorOne {
    text-align: left;
  }
  .jugadorTwo {
    text-align: rigth;
  }
  .jugador3Abajo {
    border-bottom: 3px solid red;
  }
  .jugador3Izquierda {
    border-left: 3px solid red;
  }
  .jugador3Derecha {
    border-right: 3px solid red;
  }
  .jugador3Arriba {
    border-top: 3px solid red;
  }


  .jugador2Abajo {
    border-bottom: 3px solid blue;
  }
  .jugador2Izquierda {
    border-left: 3px solid blue;
  }
  .jugador2Derecha {
    border-right: 3px solid blue;
  }
  .jugador2Arriba {
    border-top: 3px solid blue;
  }

  
  .td-border-top {
    border-top: 3px solid black;
  }

  .td-border-left {
    border-left: 3px solid black;
  }

  .td-border-right {
    border-right: 3px solid black;
  }

  .td-border-bottom {
    border-bottom: 3px solid black;
  }

  .escondido {
    visibility: hidden;
  }

  .boton-arriba {
    text-decoration: none;
    padding: 5px;
    font-weight: 400;
    font-size: 20px;
    color: black;
    background-color: #65d97f;
    border-radius: 4px;
    border: 2px solid #30c251;
    margin-left:1%;
  }

  .boton-abajo {
    text-decoration: none;
    padding: 5px;
    font-weight: 400;
    font-size: 20px;
    color: black;
    background-color: #30c251;
    border-radius: 4px;
    border: 2px solid #65d97f;
    margin-left:1%;
  }

  .boton-reiniciar {
    text-decoration: none;
    padding: 5px;
    font-weight: 450;
    font-size: 25px;
    color: white;
    background-color: #e3220f;
    border-radius: 4px;
    border: 2px solid  #ba1909;
    margin-left:40%;
  }

  .filas-cols{
    font-family:Verdana, sans-serif;
    font-size: 15pt;
    color:  #344c60;
    margin-left:2%
  }
</style>

<div class="main">
  <label class="tittle" >DOTS AND LINES</label>
  <br><br>
  <label class="turno"> turno del Jugador:  <%= @jugadorActual.nombre %></label>
  <br><br><br><br>
  <div class="jugador"> 
    <label >Primer Jugador:  <%= @jugador1.nombre %> puntaje :  <%= @jugador1.puntos()%></label>
  </div>
  <br>
  <div class="jugador"> 
    <label >Segundo Jugador:  <%= @jugador2.nombre %> puntaje :  <%= @jugador2.puntos()%></label>
  </div>
  <br>
  <div class="jugador"> 
    <label >Tercer Jugador:  <%= @jugador3.nombre %> puntaje :  <%= @jugador3.puntos()%></label>
  </div>
  <br><br>
   <% cont=0 %>
  <table id="tabla" name="tabla" style align="center" width= "50%" height="50%";>
    <%= @tabla %>
  </table>  
  <br><br>
  <form method="get" action="/gameThree">
      <label class="filas-cols">Ingrese la fila:</label>
      <input type='text' name='fila' id='fila'>
      <label class="filas-cols">Ingrese la columna:</label>
      <input type='text' name='columna' id='columna' >
      
      <input  class="boton-arriba" type='submit' name='selection' value='Arriba'>
      <input class="boton-abajo" type='submit' name='selection' value='Abajo'>
      <input class="boton-arriba" type='submit' name='selection' value='Izquierda'>
      <input class="boton-abajo" type='submit' name='selection' value='Derecha'>
      <br><br><br><br>
  </form>
  <form method="post" action="/reinicarJuego">
    <input class="boton-reiniciar" type='submit' name='selection' value='Reiniciar'>
  </form>
</div>